@font-face{
    font-family: 'DM Mono';
    src: url("./assets/fonts/dm-mono/DMMono-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'DM Mono';
    src: url("./assets/fonts/dm-mono/DMMono-Medium.ttf")format('truetype');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'DM Sans';
    src: url("./assets/fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf") format('truetype');
    font-weight: 400 600;
    font-style: normal;
}
@font-face {
    font-family: 'Frauces';
    src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Frauces';
    src: url("./assets/fonts/fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Dm Sans';
    font-weight: 400;
    margin:0;
    background-color: hsl(35, 60%, 96%);
}
.sidebar{
width: 100%;
display: flex;
flex-direction: column;
position: relative;
overflow: hidden;
}
.header-menu{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top:10px;
    position:relative;
    z-index: 5;
}
.header-menu .icon{
    margin-left: 15px;
}
.open-close{
    border: 2px solid #CCC;
    margin-left: auto;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.open-close .img_close{
    display: none;
}
.open-close:hover{
    background-color: hsl(40, 60%, 98%);
}
.open-close:active{
    background-color: hsl(40, 60%, 98%);
}
.siderbar-hr{
    margin: 0 15px 0 15px; 
    position:relative;
}
#open-close_icon{
    display: none;
}
.nav_options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 56.8px);
    background-color:hsl(35, 60%, 96%);
    position: fixed;
    transform: translateY(-100%);
    top:0;
    left:0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    box-sizing: border-box;
}
#open-close_icon:checked ~ .nav_options{
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    position: relative;
}
#one{
    margin:0;
}
#open-close_icon:checked ~ #one{
    margin: 0 15px 0 15px;
}
 #open-close_icon:checked ~ .header-menu > .open-close .img_menu{
    display:none;
}
#open-close_icon:checked ~ .header-menu > .open-close .img_close{
    display: block;
}
.options{
    list-style: none;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px; 
    display: flex;
    flex-direction: column;
}
.option{
    display: flex;
    width: 100%;
    color:  hsl(33, 22%, 20%);
    padding: 10px 0 10px 0;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.option p{
    margin: 0;
    margin-left: 10px;
    width: 100%;
    display: flex;
}
.option:first-of-type p > span{
    margin-left: auto;
    margin-right: 15px;
    font-size: 0.60rem;
    color: #FAFAFA;
    background-color:  hsl(15, 74%, 41%);
    width:18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;   
}
.option:hover{
    background-color: #FFF;
}
.local_weather{
    width: 92%;
    margin: 0 auto;
    margin-top:auto;
    margin-bottom: 10px;
    background-color:  hsl(45, 100%, 74%);
    border-radius: 20px;
    overflow: hidden;  
    position:relative;
}
.local_weather p{
    margin: 3px 0 3px 10px;
    padding: 5px;
    font-size: 1rem;
    font-family: 'DM Mono';
    color:hsl(32, 20%, 29%);
}
.local_weather p:last-of-type{
    font-family: 'DM Sans';
}
.local_weather h2{
    margin: 0 ;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 2rem;
    font-family: 'Frauces';
    font-weight: 400;
    color:hsl(33, 22%, 20%);
}
.local_weather .icon_weather{
    position: absolute;
    z-index: 100;
    width:auto;
    top: -28px;
    right: -10px;
    margin-right: auto;
}
.est{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: 'DM Mono';
    font-size: 0.70rem;
    color:hsl(32, 20%, 29%);
}
.content{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.welcome p{
    font-family: 'DM Mono';
    color:  hsl(33, 17%, 41%);
    letter-spacing: 2px;
    font-size: 0.75rem;
    margin-bottom: 0;
}
.welcome h1{
    font-family: 'Frauces';
   

}
.welcome h1 > span{
    color:hsl(15, 69%, 37%);
     font-style: italic;
}
.btn_print_calendar{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.btn_print_calendar button{
    display: flex;
    padding: 0.6rem 2.4rem;
    border-radius: 1rem;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 0.7rem;
    border: none;
    border: 1px solid #CCC ;
}
.btn_print_calendar .btn_print{
    color: hsl(33, 15%, 15%);
    background-color: inherit;
}
.btn_print:hover{
    background-color: hsl(30, 24%, 93%);
    cursor: pointer;
}
.btn_print:focus{
    outline: 2px solid hsl(15, 69%, 37%);
    outline-offset: 0.25rem;
}
.btn_print_calendar .btn_calendar{
    background-color: hsl(33, 22%, 20%);
    color: #FAFAFA;
}
.btn_calendar:hover{
    cursor:pointer;
    background-color: hsl(32, 20%, 29%);
}
.btn_calendar:focus{
    outline: 2px solid hsl(15, 69%, 37%);
    outline-offset: 0.20rem;
}
.booking_card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.booking_card .welcome_card, .booking_card .receipt_card{
    max-width: 90%;
    width: 450px;
   
}
.welcome_card{
    position: relative;
    margin: 0 auto;
    background: radial-gradient(circle at top right,  hsl(22, 72%, 56%) 10%, hsl(15, 69%, 37%) 75%) 90%;
    border-radius: 1.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 2.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 15px 30px -2px hsla(15, 74%, 41%, 0.6);
    box-sizing: border-box;
    order: -1;
    transform:  rotate(2deg);
    z-index: 100;
}
.welcome_card hr{
    margin-top: 1.5rem;
    border: none;
    border-top: 2px dashed hsl(40, 89%, 46%);
    opacity: 0.25;
}
.header_cardWelcome{
    display: flex;
    justify-content: space-between;
}
.header_cardWelcome p{
  margin: 0;
 font-family: 'DM Mono';
 font-size: 0.8rem;
 color: hsl(40, 60%, 98%);
 letter-spacing: 0.08rem;
 opacity: 0.7;
}
.margaux{
    margin-top: 1rem;
}
.margaux em{
    color: hsl(44, 84%, 75%);
    font-family: 'Frauces';
    font-size: 1.3rem;
    line-height: 1.5;
}
.margaux em > span{
    color: hsl(40, 60%, 98%);
    font-size: 2.5rem;
}
.text_cardWelcome{
    margin-bottom: 5rem;
}
.text_cardWelcome p{
    color: hsl(40, 60%, 98%);
    opacity: 0.9;
    font-family: 'DM Sans';
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer_cardWelcome p, .footer_cardWelcome h2{
 margin: 0;
 color: hsl(40, 60%, 98%);
}
.footer_cardWelcome p{
    font-size: 0.75rem;
    font-family: 'DM Sans';
    opacity: 0.75;
}
.footer_cardWelcome h2{
    font-family: 'Frauces';
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.receipt_card{
    border-radius: 1.5rem;
    margin: 0 auto;    
    background-color: hsl(40, 60%, 100%);
    padding-left:1.2rem;
    padding-right: 1.2rem;
    order: 0;
    box-shadow: 0 10px 10px -3px hsla(33, 20%, 20%, 0.3);
    transform: rotate(-2deg);
}
.header_receipt{
    display: flex;
    justify-content: space-between;
    font-family: 'DM Mono';
    font-size: 0.8rem;
    color: hsl(33, 17%, 41%);
    letter-spacing: 0.025rem;
    margin-top: 1rem;
}
.header_receipt p{
    margin: 0;
}
.header_receipt div > p{
    margin: 0;
    text-align: end;
}
.header_cardReceipt h3{
    font-family: 'Frauces';
    font-weight: 900;
    margin: 0;
    margin-top: 1rem;
}
.header_cardReceipt ~ hr,.header_cardReceipt ~ hr:nth-child(2){
    margin-top: 0.75rem;
    border: none;
    border-top: 2px dashed hsl(33, 22%, 20%);
    opacity: 0.15;
}
.check_card{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.check_card div{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.check_card p{
    color: hsl(32, 20%, 29%);
}
.check_card div > p:first-of-type{
    text-transform: uppercase;
    font-family: 'DM Mono';
    font-size: 0.5rem;
    margin: 0;
    margin-bottom: 0.25rem;
    letter-spacing: 0.05rem;
}
.check_card div > p:last-of-type{
    margin: 0;
    font-size: 0.65rem;
}
.check_card div > h2{
    font-family: 'Frauces';
    margin: 0;
}
.receipt_item{
    display: flex;
    flex-direction: column;
}
.receipt_item div{
    display: flex;
    justify-content: space-between;
}
.receipt_item div > dt, .receipt_item div> dd{
    font-size: 0.65rem;
    font-family: 'DM Mono';
    line-height: 2;
}
.receipt_item .receipt_divider{
    border: none;
    border-top: 0.08rem solid hsl(33, 22%, 20%);
    margin: 0.75rem 0 0 0;
    width: 100%;
}
.receipt_item div:nth-child(3) {
 color: hsl(33, 22%, 20%);
}
.total_summary{
    display: flex;
}
.total_summary dt:first-of-type{
    color: hsl(32, 20%, 29%);
    letter-spacing: 0.1rem;
    align-self: center;
}
.total_summary dt:last-of-type{
    font-family: 'Frauces';
    font-size: 1.5rem;

}
.paid_wise_gbp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.paid_wise_gbp p{
    font-family: 'DM Mono';
  font-size: 0.70rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: hsl(32, 20%, 29%);
}
.guest_info{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.guest{
    display: flex;
    flex-direction: column;
    background-color:  hsl(40, 60%, 100%);
    border-radius: 1rem; 
    border: 2px solid hsla(33, 17%, 41%, 0.4);
     box-sizing: border-box;
     padding-left: 1rem;
     padding-right: 1rem;
     padding-bottom: 1.2rem;
     height: auto;
}
.guest > p, .guest >  h2{
    margin: 0;
    padding: 0;
    
}
.guest h2{
    font-family: 'Frauces';
}
.icon_guest  ~ p:first-of-type{
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem 0;
    opacity: 0.5;
}
.icon_guest  ~ p:last-of-type{
    font-size: 0.9rem;
}
.icon_guest{
    display: flex;
    align-items: center;
    width: 100%;
}
.icon_guest .icon{  
 display: flex;
 justify-content: center;
 border-radius: 0.5rem;
 width: 2.5rem;
 height: 2.5rem;
}
.icon_guest .icon > img{
    width: 60%;
}
.icon_guest p:first-of-type{
    margin-left: 0.8rem;
    text-transform: uppercase;
    font-family: 'DM Mono';
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 0.9rem;
}
.icon_guest p:last-of-type{
    margin-left: auto;
    font-family: 'Frauces';
    font-size: 1.5rem;
}
.icon_arrival .icon{
    background-color: hsl(15, 74%, 41%);
}
.icon_arrival{
    color: hsl(15, 74%, 41%);
}
.icon_wifi .icon{
    background-color: hsl(230, 49%, 56%);
}
.icon_wifi{
    color: hsl(230, 49%, 56%);
}
.wifi .subtitle_guest{
    font-size: 0.8rem !important;
}
.net_pass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(30, 24%, 93%);
    border-radius: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 0.8rem;
}
.net_pass:last-of-type{
    margin-top: 0.2rem;
}
.net_pass p {
    margin: 0;
    margin: 0.4rem 0 0.4rem 0;
}
.net_pass p:first-of-type{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    opacity: 0.7;
    font-size: 0.6rem;
    font-weight: 500;
}
.password p:last-of-type{
    margin-left: auto;
    margin-right: 0.5rem;
}
.password button{
   border-radius: 0.6rem;
   background-color: inherit;
   border: 1px solid hsla(33, 17%, 41% , 0.5);
   color: hsla(33, 17%, 41% , 0.5);
   text-transform: uppercase;
   font-size: 0.7rem;
   padding: 0.2rem;
   letter-spacing: 0.05rem;
}
.password button:hover{
    background-color: hsla(33, 17%, 41% , 0.2);
}
.icon_breakfast .icon{
    background-color: hsl(340, 48%, 52%);
}
.icon_breakfast{
    color: hsl(340, 48%, 52%);
}
footer{
    margin-top: 0.5rem;
    font-size: 0.65rem;
    text-align: center;
}
